# Hackclub OAuth
CLIENT_ID = "your client id"
CLIENT_SECRET = "your client secret"

# Postgres
POSTGRES_USER = "postgres_username"
POSTGRES_PASSWORD = "postgres_password"
POSTGRES_PORT = "5433" # Do not use same port as PGPOOL_PORT

# pgpool
PGPOOL_PORT = "5432" # Do not use same port as POSTGRES_PORT
PGPOOL_ADMIN_USER = "pgpool_username"
PGPOOL_ADMIN_PASSWORD = "pgpool_password"

# database
DATABASE_URL= "postgresql+psycopg2://<POSTGRES_USER>:<POSTGRES_PASSWORD>@localhost:<PGPOOL_PORT>/<POSTGRES_DB>"